:root {
    --main-bg-color: #fff;
    --sub-bg-color: #000;
    --sub-text-color: #fff;
    --accent-color: red;

    --main-text-color: #000;

    --first-brand-color: #f172a1;
    --second-brand-color: #a1c3d1;
    --third-brand-color: #b39bc8;

    --main-font: 'Open Sans Condensed';
    --title-font: 'Encode Sans SC Expanded';
    
    font-size: 62.5%;
}